workflows/fiwano-complete-demo.json
{
  "id": "fiwano-complete-demo",
  "name": "Fiwano — Complete Demo",
  "nodes": [
    {
      "parameters": {
        "content": "## Fiwano — Complete Demo\n\nThis workflow demonstrates **every** Fiwano node operation across 9 sections.\n\n### Before you start\n1. Install `n8n-nodes-fiwano` (Community Nodes or Docker)\n2. Add a **Fiwano API** credential (Settings → Credentials → Add → Fiwano API)\n3. Replace placeholders (`YOUR_CHANNEL_ID`, `YOUR_WA_CHANNEL_ID`, etc.) with real values\n4. For **Section A** (Echo Bot): activate the workflow, copy the Trigger webhook URL, set it on your Fiwano channel\n5. For all other sections: run manually with the ▶ button\n\n### Sections\n- **A** — Echo Bot (live webhook trigger with profile enrichment)\n- **B** — List Channels (get all connected channels)\n- **C** — Get Channel Details (single channel lookup)\n- **D** — List WhatsApp Templates (with sync & status filter)\n- **E** — Get Single Template\n- **F** — Create WhatsApp Template\n- **G** — Send Text Message\n- **H** — Send Template Message\n- **I** — Redirect URI Management (list, add, delete)\n\n[API Documentation](https://fiwano.com/documentation)",
        "height": 660,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-280, -180],
      "id": "aa1b0001-0001-4000-8000-000000000001",
      "name": "About this workflow"
    },
    {
      "parameters": {
        "content": "## A: Echo Bot\n\nReceives incoming messages and replies automatically.\n\n- **WhatsApp**: replies using `data.from_name` from the webhook\n- **Instagram / Facebook**: calls **Contact → Get Profile** first\n\n**Setup:**\n1. Activate the workflow\n2. Copy the Trigger webhook URL\n3. Set it as `webhook_url` on your Fiwano channel\n4. Copy the channel's `webhook_secret` into the Trigger node",
        "height": 300,
        "width": 380,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-280, 540],
      "id": "aa1b0001-0001-4000-8000-000000000002",
      "name": "Section A"
    },
    {
      "parameters": {
        "events": ["message.received"],
        "webhookSecret": ""
      },
      "type": "n8n-nodes-fiwano.fiwanoTrigger",
      "typeVersion": 1,
      "position": [160, 640],
      "id": "aa1b0001-0001-4000-8000-000000000010",
      "name": "Fiwano Trigger",
      "webhookId": "fiwano-demo-trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "cond-is-text",
              "leftValue": "={{ $json.data.type }}",
              "rightValue": "text",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [380, 640],
      "id": "aa1b0001-0001-4000-8000-000000000011",
      "name": "Is Text?"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "cond-is-wa",
              "leftValue": "={{ $json.channel_type }}",
              "rightValue": "whatsapp",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 640],
      "id": "aa1b0001-0001-4000-8000-000000000012",
      "name": "Is WhatsApp?"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "channelId": "={{ $('Fiwano Trigger').item.json.channel_id }}",
        "recipient": "={{ $('Fiwano Trigger').item.json.data.from }}",
        "text": "=Hi {{ $('Fiwano Trigger').item.json.data.from_name }}! You said: {{ $('Fiwano Trigger').item.json.data.text }}"
      },
      "type": "n8n-nodes-fiwano.fiwano",
      "typeVersion": 1,
      "position": [860, 540],
      "id": "aa1b0001-0001-4000-8000-000000000013",
      "name": "Reply (WhatsApp)",
      "credentials": { "fiwanoApi": { "id": "fiwano-cred", "name": "Fiwano API" } }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "getProfile",
        "channelId": "={{ $('Fiwano Trigger').item.json.channel_id }}",
        "userId": "={{ $('Fiwano Trigger').item.json.data.from }}"
      },
      "type": "n8n-nodes-fiwano.fiwano",
      "typeVersion": 1,
      "position": [860, 740],
      "id": "aa1b0001-0001-4000-8000-000000000014",
      "name": "Get Sender Profile",
      "credentials": { "fiwanoApi": { "id": "fiwano-cred", "name": "Fiwano API" } }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "channelId": "={{ $('Fiwano Trigger').item.json.channel_id }}",
        "recipient": "={{ $('Fiwano Trigger').item.json.data.from }}",
        "text": "=Hi {{ $json.profile.name || $json.profile.first_name || $json.profile.username || 'there' }}! You said: {{ $('Fiwano Trigger').item.json.data.text }}"
      },
      "type": "n8n-nodes-fiwano.fiwano",
      "typeVersion": 1,
      "position": [1120, 740],
      "id": "aa1b0001-0001-4000-8000-000000000015",
      "name": "Reply (IG/FB)",
      "credentials": { "fiwanoApi": { "id": "fiwano-cred", "name": "Fiwano API" } }
    },
    {
      "parameters": {
        "content": "## B: List Channels\n\nRetrieves all connected channels.\nNo configuration needed — just run.",
        "height": 120,
        "width": 380,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-280, 920],
      "id": "aa1b0001-0001-4000-8000-000000000003",
      "name": "Section B"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [160, 980],
      "id": "aa1b0001-0001-4000-8000-000000000020",
      "name": "Run: List Channels"
    },
    {
      "parameters": {
        "resource": "channel",
        "operation": "getAll"
      },
      "type": "n8n-nodes-fiwano.fiwano",
      "typeVersion": 1,
      "position": [380, 980],
      "id": "aa1b0001-0001-4000-8000-000000000021",
      "name": "Get All Channels",
      "credentials": { "fiwanoApi": { "id": "fiwano-cred", "name": "Fiwano API" } }
    },
    {
      "parameters": {
        "content": "## C: Get Channel Details\n\nFetches details for a single channel.\n\n**Set** `YOUR_CHANNEL_ID` in the Fiwano node before running.\n\nGet a channel ID from Section B first.",
        "height": 160,
        "width": 380,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-280, 1100],
      "id": "aa1b0001-0001-4000-8000-000000000004",
      "name": "Section C"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [160, 1180],
      "id": "aa1b0001-0001-4000-8000-000000000030",
      "name": "Run: Get Channel"
    },
    {
      "parameters": {
        "resource": "channel",
        "operation": "get",
        "channelId": "YOUR_CHANNEL_ID"
      },
      "type": "n8n-nodes-fiwano.fiwano",
      "typeVersion": 1,
      "position": [380, 1180],
      "id": "aa1b0001-0001-4000-8000-000000000031",
      "name": "Get Channel",
      "credentials": { "fiwanoApi": { "id": "fiwano-cred", "name": "Fiwano API" } }
    },
    {
      "parameters": {
        "content": "## D: List WhatsApp Templates\n\nLists templates for a WhatsApp channel with filters.\n\n**Set** `YOUR_WA_CHANNEL_ID` before running.\n\n- **Sync**: fetches latest state from Meta\n- **Status**: filter by APPROVED, PENDING, REJECTED, or All",
        "height": 180,
        "width": 380,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-280, 1320],
      "id": "aa1b0001-0001-4000-8000-000000000005",
      "name": "Section D"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [160, 1420],
      "id": "aa1b0001-0001-4000-8000-000000000040",
      "name": "Run: List Templates"
    },
    {
      "parameters": {
        "resource": "template",
        "operation": "getAll",
        "channelId": "YOUR_WA_CHANNEL_ID",
        "filters": {
          "sync": true,
          "status": "APPROVED"
        }
      },
      "type": "n8n-nodes-fiwano.fiwano",
      "typeVersion": 1,
      "position": [380, 1420],
      "id": "aa1b0001-0001-4000-8000-000000000041",
      "name": "List Templates",
      "credentials": { "fiwanoApi": { "id": "fiwano-cred", "name": "Fiwano API" } }
    },
    {
      "parameters": {
        "content": "## E: Get Single Template\n\nRetrieves details of one specific template.\n\n**Set** `YOUR_WA_CHANNEL_ID` and `YOUR_TEMPLATE_ID` before running.\n\nGet template IDs from Section D.",
        "height": 160,
        "width": 380,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-280, 1560],
      "id": "aa1b0001-0001-4000-8000-000000000006",
      "name": "Section E"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [160, 1650],
      "id": "aa1b0001-0001-4000-8000-000000000050",
      "name": "Run: Get Template"
    },
    {
      "parameters": {
        "resource": "template",
        "operation": "get",
        "channelId": "YOUR_WA_CHANNEL_ID",
        "templateId": "YOUR_TEMPLATE_ID"
      },
      "type": "n8n-nodes-fiwano.fiwano",
      "typeVersion": 1,
      "position": [380, 1650],
      "id": "aa1b0001-0001-4000-8000-000000000051",
      "name": "Get Template",
      "credentials": { "fiwanoApi": { "id": "fiwano-cred", "name": "Fiwano API" } }
    },
    {
      "parameters": {
        "content": "## F: Create WhatsApp Template\n\nCreates a new template and submits it to Meta for review.\n\n**Set** `YOUR_WA_CHANNEL_ID` before running.\n\nThe example creates a simple greeting template with one positional variable.\n\nAfter Meta approves it, use Section H to send it.",
        "height": 200,
        "width": 380,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-280, 1780],
      "id": "aa1b0001-0001-4000-8000-000000000007",
      "name": "Section F"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [160, 1900],
      "id": "aa1b0001-0001-4000-8000-000000000060",
      "name": "Run: Create Template"
    },
    {
      "parameters": {
        "resource": "template",
        "operation": "create",
        "channelId": "YOUR_WA_CHANNEL_ID",
        "templateName": "demo_greeting",
        "language": "en_US",
        "category": "UTILITY",
        "components": "[\n  {\n    \"type\": \"BODY\",\n    \"text\": \"Hello {{1}}, welcome to our service!\",\n    \"example\": { \"body_text\": [[\"John\"]] }\n  }\n]",
        "parameterFormat": "positional"
      },
      "type": "n8n-nodes-fiwano.fiwano",
      "typeVersion": 1,
      "position": [380, 1900],
      "id": "aa1b0001-0001-4000-8000-000000000061",
      "name": "Create Template",
      "credentials": { "fiwanoApi": { "id": "fiwano-cred", "name": "Fiwano API" } }
    },
    {
      "parameters": {
        "content": "## G: Send Text Message\n\nSends a plain text message through any channel type.\n\n**Set** `YOUR_CHANNEL_ID`, `RECIPIENT_ID_OR_PHONE`, and edit the message text.\n\nRecipient format:\n- WhatsApp: phone number without `+` (e.g. `1234567890`)\n- Instagram: IGSID from `data.from`\n- Facebook: PSID from `data.from`",
        "height": 240,
        "width": 380,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-280, 2040],
      "id": "aa1b0001-0001-4000-8000-000000000008",
      "name": "Section G"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [160, 2180],
      "id": "aa1b0001-0001-4000-8000-000000000070",
      "name": "Run: Send Text"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "channelId": "YOUR_CHANNEL_ID",
        "recipient": "RECIPIENT_ID_OR_PHONE",
        "text": "Hello from n8n + Fiwano! This is a test message."
      },
      "type": "n8n-nodes-fiwano.fiwano",
      "typeVersion": 1,
      "position": [380, 2180],
      "id": "aa1b0001-0001-4000-8000-000000000071",
      "name": "Send Text Message",
      "credentials": { "fiwanoApi": { "id": "fiwano-cred", "name": "Fiwano API" } }
    },
    {
      "parameters": {
        "content": "## H: Send Template Message\n\nSends an approved WhatsApp template. Required outside the 24-hour messaging window.\n\n**Set** `YOUR_WA_CHANNEL_ID`, `RECIPIENT_PHONE`, `TEMPLATE_NAME`, and optionally **Variables**.\n\n**Variables format (JSON):**\n- Positional: `{\"body\":[\"Pablo\",\"ORD-123\"]}`\n- Named: `{\"body\":{\"customer_name\":\"Pablo\"}}`\n- Leave empty if no variables",
        "height": 260,
        "width": 380,
        "color": 1
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-280, 2340],
      "id": "aa1b0001-0001-4000-8000-000000000009",
      "name": "Section H"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [160, 2500],
      "id": "aa1b0001-0001-4000-8000-000000000080",
      "name": "Run: Send Template"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendTemplate",
        "channelId": "YOUR_WA_CHANNEL_ID",
        "recipient": "RECIPIENT_PHONE",
        "templateName": "hello_world",
        "language": "en_US",
        "variables": ""
      },
      "type": "n8n-nodes-fiwano.fiwano",
      "typeVersion": 1,
      "position": [380, 2500],
      "id": "aa1b0001-0001-4000-8000-000000000081",
      "name": "Send Template Message",
      "credentials": { "fiwanoApi": { "id": "fiwano-cred", "name": "Fiwano API" } }
    },
    {
      "parameters": {
        "content": "## I: Redirect URI Management\n\nManages OAuth redirect URIs for your API key.\n\n**List**: run as-is to see all registered URIs.\n**Add**: set the URI pattern in the \"Add Redirect URI\" node.\n**Delete**: set the redirect ID (from List) in the \"Delete Redirect URI\" node.\n\nRedirect URIs are required before using **Channel → Generate OAuth URL**.\nSupports wildcards: `https://*.example.com/callback`",
        "height": 240,
        "width": 380,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-280, 2660],
      "id": "aa1b0001-0001-4000-8000-00000000000a",
      "name": "Section I"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [160, 2780],
      "id": "aa1b0001-0001-4000-8000-000000000090",
      "name": "Run: List Redirects"
    },
    {
      "parameters": {
        "resource": "redirect",
        "operation": "getAll"
      },
      "type": "n8n-nodes-fiwano.fiwano",
      "typeVersion": 1,
      "position": [380, 2780],
      "id": "aa1b0001-0001-4000-8000-000000000091",
      "name": "List Redirect URIs",
      "credentials": { "fiwanoApi": { "id": "fiwano-cred", "name": "Fiwano API" } }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [160, 2940],
      "id": "aa1b0001-0001-4000-8000-0000000000a0",
      "name": "Run: Add Redirect"
    },
    {
      "parameters": {
        "resource": "redirect",
        "operation": "add",
        "uriPattern": "https://your-app.example.com/callback"
      },
      "type": "n8n-nodes-fiwano.fiwano",
      "typeVersion": 1,
      "position": [380, 2940],
      "id": "aa1b0001-0001-4000-8000-0000000000a1",
      "name": "Add Redirect URI",
      "credentials": { "fiwanoApi": { "id": "fiwano-cred", "name": "Fiwano API" } }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [160, 3100],
      "id": "aa1b0001-0001-4000-8000-0000000000b0",
      "name": "Run: Delete Redirect"
    },
    {
      "parameters": {
        "resource": "redirect",
        "operation": "delete",
        "redirectId": "YOUR_REDIRECT_ID"
      },
      "type": "n8n-nodes-fiwano.fiwano",
      "typeVersion": 1,
      "position": [380, 3100],
      "id": "aa1b0001-0001-4000-8000-0000000000b1",
      "name": "Delete Redirect URI",
      "credentials": { "fiwanoApi": { "id": "fiwano-cred", "name": "Fiwano API" } }
    }
  ],
  "connections": {
    "Fiwano Trigger": {
      "main": [
        [{ "node": "Is Text?", "type": "main", "index": 0 }]
      ]
    },
    "Is Text?": {
      "main": [
        [{ "node": "Is WhatsApp?", "type": "main", "index": 0 }],
        []
      ]
    },
    "Is WhatsApp?": {
      "main": [
        [{ "node": "Reply (WhatsApp)", "type": "main", "index": 0 }],
        [{ "node": "Get Sender Profile", "type": "main", "index": 0 }]
      ]
    },
    "Get Sender Profile": {
      "main": [
        [{ "node": "Reply (IG/FB)", "type": "main", "index": 0 }]
      ]
    },
    "Run: List Channels": {
      "main": [
        [{ "node": "Get All Channels", "type": "main", "index": 0 }]
      ]
    },
    "Run: Get Channel": {
      "main": [
        [{ "node": "Get Channel", "type": "main", "index": 0 }]
      ]
    },
    "Run: List Templates": {
      "main": [
        [{ "node": "List Templates", "type": "main", "index": 0 }]
      ]
    },
    "Run: Get Template": {
      "main": [
        [{ "node": "Get Template", "type": "main", "index": 0 }]
      ]
    },
    "Run: Create Template": {
      "main": [
        [{ "node": "Create Template", "type": "main", "index": 0 }]
      ]
    },
    "Run: Send Text": {
      "main": [
        [{ "node": "Send Text Message", "type": "main", "index": 0 }]
      ]
    },
    "Run: Send Template": {
      "main": [
        [{ "node": "Send Template Message", "type": "main", "index": 0 }]
      ]
    },
    "Run: List Redirects": {
      "main": [
        [{ "node": "List Redirect URIs", "type": "main", "index": 0 }]
      ]
    },
    "Run: Add Redirect": {
      "main": [
        [{ "node": "Add Redirect URI", "type": "main", "index": 0 }]
      ]
    },
    "Run: Delete Redirect": {
      "main": [
        [{ "node": "Delete Redirect URI", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "pinData": {}
}
